/*
	documentation
*/
body {
  font-family: Calibri;

}
main {
  background: #F3F3F3;
}

#navbar-brand {
    margin: 0 auto;
}
#logo-img{
	width: 150px; 
	height: 50px;
}

#bell-icon{
  font-size: 18pt;
    margin-right: 30px;
}

.navbar-custom {
  border-bottom: 2px #32DC32 solid;
}

/*
sidebar css
*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#browserMenu-button, #bell-icon {
  display: none
}

/*@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
*/
@media only  screen and (min-width: 768px) {
	#logo-img{
		width: 180px; 
		height: 60px;
	}

	#bell-icon{
		font-size: 21pt;

	}
	#userToggler{
		font-size: 21pt;
		width: 100px;
		height: 100px;
	}
}

.navbar-custom .navbar-collapse .ml-auto .nav-item .nav-link {
	color:#32DC32;
	font-weight: bolder;
	text-align:right;
}


/* Go Mobile first */

#adoption-image {
	width:100%;
}

#summary-text {
    font-size: 0.9em;
    color: #383838;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding-top: 2vh;
    padding-bottom: 3vh;
}

#summary-lines {
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-top: 2px solid #32CD32;
    border-bottom: 2px solid #32CD32;
}

#adoption {
	color: #32DC32;
}

.homebox {
    height: 42vh;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 40px 0 rgba(0, 0, 0, 0.19);
    background-color: #FFF;
    margin-top: 5vh;
    margin-bottom: 5vh;
    transition-duration: 0.4s;
    border-radius: 25px;
    color: #4D4D4D;
}

.homeicons {
    height: 15vh;
    width: 15vw;
}

.boxheading {
    font-size: 1em;
    text-align: center;
    margin: 0 auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 100%;
    height: 5vh;
}

.boximage {
    text-align: center;
    width: 85%;
    padding-bottom: 0;
    border-bottom: 2px solid #32CD32;
    margin: 0 auto;
}

.boxparagraph {
    font-size: 0.8em;
    text-align: center;
    width: 85%;
    margin: auto;
    padding-top: 2vh;
    line-height: 3vh;
    padding-bottom: 3vh;
}

.wrapper3 {
    width: 95%;
    margin: 0 auto;
}

.wrapper2 {
	width:75%;
	margin:0 auto;
}
.headerimagecontainer{
	position:relative;
}

.headerimage{
	max-width:100%;
	max-height:100%;
}

.headertext{
	position:absolute;
	margin:0 auto;
	z-index:99;
	left: 0;
	right: 0;
	top: 40%; /* Adjust this value to move the positioned div up and down */
	text-align: center;
	color:white;
	font-size: 3em;
	text-shadow: 2px 2px black;
	display:none;
}

.whitebackground h2 {
	text-align:center;
}

.aboutUsText {
}
.aboutimage {
	text-align:center;
}
.abouticons {
    height: 20vh;
    width: 20vw;
}
.aboutbox {
    /*height: 50vh; */
    width: 95%;
   /* margin: 3vh auto; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 40px 0 rgba(0, 0, 0, 0.19);
    background-color: #FFF;
    transition-duration: 0.4s;
    border-radius: 25px;
    color: #4D4D4D;
    margin-bottom: 5vh;
		margin-right: 5vh;
}

.aboutheading {
	font-size:1em;
	padding:10px 5px;
	text-align:center;

}

.aboutparagraph{
	padding:2vh;
	text-align:center;
}

/* ---------------------------- Form Styling -------------------------------- */
.labelcol {
    width: 13%;
    font-weight: bold;
    margin: 0 auto;
    text-align: left;
    margin: 0 auto;
    font-size: 0.5em;
}

input[type=text]:focus {
    outline: none;
    box-shadow: 0 0 0 2pt #32CD32;
}

input {
    height: 10vh;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 1.2em;
    margin-top: 2vh;
    padding: 0.7vh;
    width: 60vw;
}

label, input {
    display: inline-block;
}

input {
    outline-color: #32CD32;
}

select, select:active, select:hover {
    outline-color: #32CD32;
    width: 60vw;
    margin: 2vh 0;
}

textarea {
    outline-color: #32CD32;
    margin: 2vh 0;
    width: 60vw;
    height: 30vh;
}

form {
    margin: 0 auto;
    text-align: center;
}

.formrow {
    color: #555;
}

#formsubmit {
    text-align: center;
    margin: 3vh 0;
}

#subbutton {
    text-align: center;
    background-color: #32CD32;
    color: #F6F6F6;
    text-decoration: none;
    transition-duration: 0.2s;
    border-radius: 8px;
    border-color: #32CD32;
    border-style: solid;
    text-decoration: none;
    text-transform: uppercase;
		width:40%;
    outline: none;
    font-size: 1em;
}

#resetbutton {
    text-align: center;
    background-color: #32CD32;
    color: #F6F6F6;
    text-decoration: none;
    transition-duration: 0.2s;
    border-radius: 8px;
    border-color: #32CD32;
    border-style: solid;
    text-decoration: none;
    text-transform: uppercase;
		width:40%;
    outline: none;
    margin-left: 0.4vw;
    margin-right: 0.4vw;
    margin-bottom: 4vh;
    font-size: 1em;
}

#subbutton:hover {
    background-color: #F6F6F6;
    color: #32CD32;
    cursor: pointer;
    transition-duration: 0.2s;
    border-style: solid;
    border-radius: 8px;
    outline: none;
}

#resetbutton:hover {
    background-color: #F6F6F6;
    color: #32CD32;
    cursor: pointer;
    transition-duration: 0.2s;
    border-style: solid;
    border-radius: 8px;
    outline: none;
}

legend {
    text-shadow: 1px 2px 2px rgba(0,0,0,0.3);
    color: #555;
    font-size: 1.5em;
}



/* media queries */
@media only screen and (min-width: 500px) {
	.twocolumns{
		display:grid;
		grid-template-columns:1fr 1fr;
	}
	.threecolumns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	}
}
@media only screen and (min-width: 768px) {
	.headertext{
		display:block;
	}
}

@media only screen and (min-width: 1000px) {
	.fourcolumns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}






/*********************/
#overlay {
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
}

.expanded-side {
    width: 336px !important;
}

#side-menu {
    z-index: 1;
    display: block;
    height: 100vh;
    width: 0px;
    max-width: 336px;
    position: fixed;
    background-color: #FFFBE6;
    transition: width 1s ease;
    overflow-y: auto;
    box-shadow: 0px 0px 4px 0px #356859;
    border-top: 22px solid #356859;
    max-width: 100vw;
}

#side-menu-button-wrapper {
    display: block;
    position: absolute;
    width: calc(100% - 16px);
    margin: 12px auto auto;
    left: 0;
    right: 0;
}
.side-menu-button {
    display: block;
    cursor: pointer;
    width: calc(100% - 12px);
    height: 42px;
    padding: 0px 16px;
    background-color: unset;
    margin: 4px auto;
    text-align: left;
    font-size: 14pt;
    color: #000000;
    line-height: 42px;
    white-space: nowrap;
    overflow: hidden;
}

#logout-button {
    color: #000000;
    background-color: #B9E4C9;
}

.side-menu-button:hover {
    background-color: #848FA5;
    opacity: 0.8;
    color: #FFFFFF;
}

#logout-button:hover {
    color: #FFFFFF;
    background-color: #FD5523;
    opacity: 0.8;
}

#open-side-menu-button, #bell-icon{
    cursor: pointer;
    font-size: 16pt;
    color: #356859;
}

.side-menu-text {
    display: block;
    width: calc(100% - 12px);
    height: 42px;
    padding: 0px 16px;
    background-color: unset;
    margin: 4px auto;
    text-align: left;
    font-size: 14pt;
    color: #848FA5;
    line-height: 42px;
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
}

#side-menu-hr { 
    border-color: #356859;
}

#side-menu-close-button {
    font-size: 18pt;
    color: #356859;
    cursor: pointer;
    padding: 8px;
    float: right;
}

#userMenu {
    width: initial!important;
}

.nav-link {
    font-size: 14pt;
}

#map-side-content {
    float: left;
    width: 100%;
    border-right: 1px solid black;
    height: 252px;
    background-color: #848FA5;
}

#map-main-content {
    float: right;
    width: 100%;
    height: calc(100vh - 68px - 252px);
    background-color: #F3F3F3;
}


@media only screen and (min-width: 768px) {
    #navbar-brand {
        margin: 0 0 0 14px;
    }
    #logo-img {
        height: 50px;
        width: 150px;
    }
    #bell-wrapper {
        position: absolute;
        right: 0;
        float: right;
    }
    #userMenu {
        float: right;
        margin-right: 64px;
    }

    #map-wrapper {
        display: block;
        height: 100%;
        float: right;
    }

    #map-main-content {
        width: calc(100% - 288px);
        height: calc(100vh - 68px);
    }

    #map-side-content {
        width: 288px;
        height: calc(100vh - 68px);
        
    }
}
.semi-expanded-map-side {

}

.full-expanded-map-side {

}

#map-side-close-button{

}
#map-side-expansion-button{
    float: right;
}

#map-side-close-button, #map-side-expansion-button {
    font-size: 18pt;
    color: #356859;
    padding: 4px;
    margin: 4px;
}