
body {
	font-family: Calibri;
}

main {
	background: #F3F3F3;
}

.navbar-custom .navbar-collapse .ml-auto .nav-item .nav-link {
	color:#32DC32;
	font-weight: bolder;
	text-align:right;
}


/* Go Mobile first */

#adoption-image {
	width:100%;
}

#summary-text {
    font-size: 0.9em;
    color: #383838;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding-top: 2vh;
    padding-bottom: 3vh;
}

#summary-lines {
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-top: 2px solid #32CD32;
    border-bottom: 2px solid #32CD32;
}

#adoption {
	color: #32DC32;
}

.homebox {
    height: 42vh;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 40px 0 rgba(0, 0, 0, 0.19);
    background-color: #FFF;
    margin-top: 5vh;
    margin-bottom: 5vh;
    transition-duration: 0.4s;
    border-radius: 25px;
    color: #4D4D4D;
}

.homeicons {
    height: 15vh;
    width: 15vw;
}

.boxheading {
    font-size: 1em;
    text-align: center;
    margin: 0 auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 100%;
    height: 5vh;
}

.boximage {
    text-align: center;
    width: 85%;
    padding-bottom: 0;
    border-bottom: 2px solid #32CD32;
    margin: 0 auto;
}

.boxparagraph {
    font-size: 0.8em;
    text-align: center;
    width: 85%;
    margin: auto;
    padding-top: 2vh;
    line-height: 3vh;
    padding-bottom: 3vh;
}

.wrapper3 {
    width: 95%;
    margin: 0 auto;
}

.wrapper2 {
	width:75%;
	margin:0 auto;
}
.headerimagecontainer{
	position:relative;
}

.headerimage{
	max-width:100%;
	max-height:100%;
}

.headertext{
	position:absolute;
	margin:0 auto;
	z-index:99;
	left: 0;
	right: 0;
	top: 40%; /* Adjust this value to move the positioned div up and down */
	text-align: center;
	color:white;
	font-size: 3em;
	text-shadow: 2px 2px black;
	display:none;
}

.whitebackground h2 {
	text-align:center;
}

.aboutUsText {
}
.aboutimage {
	text-align:center;
}
.abouticons {
    height: 20vh;
    width: 20vw;
}
.aboutbox {
    /*height: 50vh; */
    width: 95%;
   /* margin: 3vh auto; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 40px 0 rgba(0, 0, 0, 0.19);
    background-color: #FFF;
    transition-duration: 0.4s;
    border-radius: 25px;
    color: #4D4D4D;
    margin-bottom: 5vh;
		margin-right: 5vh;
}

.aboutheading {
	font-size:1em;
	padding:10px 5px;
	text-align:center;

}

.aboutparagraph{
	padding:2vh;
	text-align:center;
}

#login-button, #logout-button {
    display: none;
}

#overlay {
    position: fixed;
    width: 100vw;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
}

/* media queries */
@media only screen and (min-width: 500px) {
	.twocolumns{
		display:grid;
		grid-template-columns:1fr 1fr;
	}
	.threecolumns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	}
}

@media only screen and (min-width: 1000px) {
	.fourcolumns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.headertext{
		display:block;
	}
}
