.semi-expanded-map-side {

}

.full-expanded-map-side {

}

#map-side-close-button{

}
#map-side-expansion-button{
    float: right;
}

#map-side-close-button, #map-side-expansion-button {
    font-size: 18pt;
    color: #356859;
    padding: 4px;
    margin: 4px;
}
#map-side-content {
    border-right: 1px solid black;
    height: 252px;
    background-color: #848FA5;
}

#map-side-content-wrapper {
    display: block;
    position: absolute;
    width: calc(100% - 16px);
    margin: 12px auto auto;
    left: 0;
    right: 0;
}

#map-main-content {
    width: 100%;
    height: calc(100vh - 68px - 252px);
    background-color: #F3F3F3;
}

@media only screen and (min-width: 768px) {
    #map-wrapper {
        display: block;
        height: 100%;
        float: right;
    }

    #map-main-content {
        width: calc(100% - 288px);
        height: calc(100vh - 68px);
        float: right !important;
    }

    #map-side-content {
        width: 288px;
        height: calc(100vh - 68px);
        float: left !important;
    }
}
