/*general margin-setting to mobile first*/

#contentContainer{
	margin-top: 50px;
}

.margin-setting{
	margin-left: 15%;
	margin-right: 15%;
}


#profile-icon{
	width: 70px;
	height: 70px;
	margin: 0 auto;
}

#user-name{
	font-size: 15pt;
}
#user-phone{
	font-size: 11pt;
}
#user-email{
	font-size: 11pt;

}

#profile-tab{
	margin-top: 20px;
}
/*profile tab as nav element for Bootstrap*/
.profile-nav{
	width: 30%;
}
/*well class from bootstrap*/
.well{
	border-style: solid;
	border-color: #F3F3F3;
	margin: 30px;
	background-color: white;
}

/*content detail*/
.content{
	margin-top: 30px;
	background-color: #F3F3F3;
}

/*jquery elements*/
.content-margin{
	margin: 20px;
}
.h1-font-size{
	font-size: 12pt;
}
.h2-font-size{}


@media only  screen and (min-width: 800px) {
	#profile-icon{
		width: 100%;
		height: 100%;
	}
	#user-name{
		font-size: 30pt;
	}
	#user-phone{
		font-size: 22pt;

	}
	#user-email{
		font-size: 22pt;

	}
}