<!DOCTYPE html>

<html>
	<head>
		<title>{{title}}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		{{>imports}}
    <link rel="stylesheet" text="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/404.css">
	</head>

	<body>
		{{>sidenav}}
		{{>topnav}}
		<section class="page_404">
			<h1 class="text-center">404 Not Found</h1>
			<div class="four_zero_four_bg">
			</div>
			<div class="content_box_404">
				<h4>Looks like you are lost!</h4>
				<p>We are sorry but the requested page does not exist on our website. It could be the result of an outdated link, because the page has moved to a new location or has been removed. Please visit our site map link in our footer to search for the page you are looking for. </p>
			</div>
		</section>
		{{>footer}}
		{{>javascripts}}
	</body>
</html>