<!DOCTYPE html>
<html>

<head>
		<title>{{title}}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{>imports}}
		{{>style_index}}
</head>

<body>
  <main>    
    {{>sidenav}}
    {{>topnav}}
    <p>Page not found!</p>
  </main>
  {{>javascripts}}
</body>

</html>