<!DOCTYPE html>
<html lang="en">

<head>
	<title>The Right About Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{>imports}}
	{{>style_about}}
	
	<!-- Firebase Login UI CSS -->
	<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

</head>

<body>
	{{>sidenav}}
	{{>topnav}}
	{{>content_about}}
	{{>javascripts}}

</body>

</html>