<!--Add new Charger form -->
<!DOCTYPE html>

<html>

<head>
	<title>Add New Charger Form</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	{{>imports}}
	{{>style_add_new_charger}}

</head>

<body>
	{{>sidenav}}
	{{>topnav}}
	<main>
		{{>content_add_new_charger}}
	</main>
	{{>javascripts}}
	<script>
		const jwt = localStorage.getItem('jwt');
		// Enables add new charger button if all fields are filled
		$('body').on('input', '#charger-name-input, #charger-address-input, #charger-city-input, #charger-type-input, #charger-level-input', '#charger-cost-input', (event) => {
			var formFilled = false;
			if ($('#charger-name-input').val() && $('#charger-address-input').val() && $('#charger-city-input').val()
				&& $('#charger-type-input').val() && $('#charger-level-input').val() && $('#charger-cost-input').val()) {
				formFilled = true;
			}
			if (formFilled) {
				$('#submit-charger').removeAttr('disabled');
				$('#submit-charger').removeClass('disabled-button');
			} else {
				$('#submit-charger').prop('disabled', true);
				$('#submit-charger').addClass('disabled-button');
			}
		});
		$("#submit-charger").on('click', (e) => {
			e.preventDefault();
			const chargeraddress = $('#charger-address-input').val();
			const chargercity = $('#charger-city-input').val();
			const chargerprovince = "BC";
			const chargercountry = "Canada";
			const chargerrating = 0;
			const chargercost = parseFloat($('#charger-cost-input').val());
			const chargername = $('#charger-name-input').val();
			const chargerlevel = parseFloat($('#charger-level-input').val());
			const chargertype = $('#charger-type-input').val();
			const chargerdetails = $('#charger-details-input').val();
			const url = '/chargers'
			const data = {
				address: chargeraddress,
				city: chargercity,
				province: chargerprovince,
				country: chargercountry,
				rating: chargerrating,
				cost: chargercost,
				name: chargername,
				level: chargerlevel,
				type: chargertype,
				details: chargerdetails
			}
			console.log(data);
			fetch(url, {
				method: 'POST',
				body: JSON.stringify(data),
				headers: {
					'Content-Type': 'application/json',
					'Authorization': 'Bearer ' + jwt
				}
			}).then(res => console.log(res))
				.then((response) => {
					console.log('Success:', (response))
				})
				.catch(error => console.error('Error:', error));
		});
	</script>
	{{>footer}}
</body>

</html>