<!--Add new Charger form -->
<!DOCTYPE html>

<html>

<head>
	<title>Add New Charger Form</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{>imports}}
	{{>style_add_new_charger}}

</head>

<body>
	{{>sidenav}}
	{{>topnav}}
	<main>
		{{>content_add_new_charger}}
	</main>
	{{>javascripts}}
	<script>
			const jwt = localStorage.getItem('jwt');
		$("#submit-charger").on('click', (e) => {
			e.preventDefault();
			const chargerowner = "Hi";
			const chargeraddress = $('#charger-address-input').val();
			const chargercity = $('#charger-city-input').val();
			const chargerprovince = "BC";
			const chargercountry = "Canada";
			const chargerrating = 0;
			const chargercost = parseFloat($('#charger-rate-input').val());
			const chargername = $('#charger-name-input').val();
			const chargerlevel = 1;
			const chargertype = $('#charger-type-input').val();
			const chargerdetails = $('#charger-details-input').val();
			const url = '/chargers'
			const data = {
				owner: chargerowner,
				address: chargeraddress,
				city: chargercity,
				province: chargerprovince,
				country: chargercountry,
				rating: chargerrating,
				cost: chargercost,
				name: chargername,
				level: chargerlevel,
				type: chargertype,
				details: chargerdetails
			}
			console.log(data);
			fetch(url, {
				method: 'POST',
				body: JSON.stringify(data),
				headers: {
					'Content-Type': 'application/json',
					'Authorization': 'Bearer ' + jwt
				}
			}).then(res => console.log(res))
				.then((response) => {
					console.log('Success:', (response))
				})
				.catch(error => console.error('Error:', error));
		});
	</script>
	{{>footer}}
</body>

</html>