<!--Add new Charger form -->
<!DOCTYPE html>

<html>
	<head>
		<title>Add New Charger Form</title>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{>imports}}
		{{>style_add_new_charger}}
		
	</head>
	<body>
		{{>sidenav}}
    	{{>topnav}}
		{{>content_add_new_charger}}
		{{>javascripts}}
		{{<footer}}

	</body>
</html>