<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {{>imports}}
	{{>style_client_dashboard}}

</head>
<body>
	{{>sidenav}}
	{{>topnav}}
    {{>content_client_dashboard}}	
    {{>javascripts}}
	<script src='../../js/client_dashboard.js'></script>


</body>
</html>