<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {{>imports}}
	{{>style_client_dashboard}}

</head>
<body>
	{{>sidenav}}
	{{>topnav}}
	<main>
    {{>content_client_dashboard}}	
	</main>
    {{>javascripts}}
	{{>footer}}
	<script src='js/contentCreater.js'></script>
	<script src='js/fetchBooking.js'></script>
	<script src='js/client_dashboard.js'></script>
	<script src="js/createElement.js"></script>


</body>
</html>