<!DOCTYPE html>
<html>
	<head>
		<title>Disclaimer</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		{{>imports}}	
		{{>style_disclaimer}}
	</head>
	
	<body>
	{{>sidenav}}
	{{>topnav}}
	{{>content_disclaimer}}
	{{>javascripts}}
	{{>footer}}
	</body>
</html>