<!DOCTYPE html>

<html>

<head>
	<title>Host Settings</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{>imports}}
	{{>style_host_dashboard}}

</head>

<body>
	{{>sidenav}}
	{{>topnav}}
	{{>content_host_dashboard}}
	{{>javascripts}}
	{{>footer}}

	<script src='js/contentCreater.js'></script>
	<script src='js/fetchGET.js'></script>
	<script src='js/host_dashboard.js'></script>
	<script src="js/createElement.js"></script>
</body>

</html>