<!DOCTYPE html>

<html>
<head>
	<title>Host Settings</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	{{>imports}}
	{{>style_host_dashboard}}

</head>

<body>
	{{>sidenav}}
	{{>topnav}}
	{{>content_host_dashboard}}
	{{>javascripts}}
	<script src='js/contentCreater.js'></script>
	<script src='js/fetchGET.js'></script>
	<script src='js/host_dashboard.js'></script>
	<script src="js/createElement.js"></script>
  	{{>footer}}
</body>
</html>