<!-- Host Settings -->
<!DOCTYPE html>

<html>
	<head>
		<title>Host Settings</title>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{>imports}}
		{{>style_host_settings}}
		
	</head>
	<body>
	    {{>sidenav}}
		{{>topnav}}
		{{>content_host_setting}}
		{{>javascripts}}
		<script src='../../js/host_settings.js'></script>
	</body>
</html>