<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{>stylesheets}}
		{{>imports}}
	</head>
<body>
	{{>sidenav}}
    {{>topnav}}
				<main>
						<div id="firebaseui-auth-container"></div>
						<div id="summary-background">
							<img src="../images/homeImg.jpeg" id="adoption-image" alt="logo">
							<div id="summary-text">
								<div id="summary-lines">
									Our mission is to increase <span id="adoption">electric vehicle adoption</span> by improving charger availability anytime and anywhere. We offer a peer-to-peer network of private chargers in the city, viewable on a real-time map. Find a charger near you by visiting our Map page. To offer your EV charger on our network, sign up for an account and create your charger host profile today!
								</div>
							</div>
						</div>    
						<div class="wrapper3 threecolumns whitebackground">
							<div class="homebox">
							<div class="boxheading">Save Time</div>
							<div class="boximage"><img class="homeicons" src="../images/savetime.svg" alt="homeicon1"></div> 
							<div class="boxparagraph">Your time is valuable, keep your EV charged anywhere you go. Search for chargers near you using our <b>Map</b> feature.</div>
							</div>

									
							<div class="homebox" onclick="window.location.href='about.html'">
							<div class="boxheading">Go Green</div>
							<div class="boximage"><img class="homeicons" src="../images/community.svg" alt="homeicon2"></div>
							<div class="boxparagraph">Support other EV owners and join our growing community. Sign up for a ZapShare account to and create your profile.</div>
							</div>
							<div class="homebox" onclick="window.location.href='about.html'">
							<div class="boxheading">Earn Cash</div>
							<div class="boximage"><img class="homeicons" src="../images/getpaid.svg" alt="homeicon3"></div>
							<div class="boxparagraph">Offer your EV charger on ZapShare and start earning cash by letting other users charge their EV vehicles at your location.</div>
							</div>
									
						</div>
				</main>
				
				
</body>
</html>