<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{>imports}}
  {{>style_map}}
  {{>mapboxsetup}}

</head>

<body>
  {{>sidenav}}
  {{>topnav}}
  <main>
    {{>maprender}}
    <div id="map-drawer">
      <span id="map-drawer-close-button" class="fas fa-times ui-button-custom"></span>
      <span id="map-drawer-expansion-button" class="fas fa-chevron-up ui-button-custom"></span>

      <div id="map-drawer-text-wrapper">
        <div class="map-drawer-text-row">
          <div class="map-drawer-text-left">Next Availability</div>
          <div class="map-drawer-text-right" id="map-drawer-availability">Today 4:30PM</div>
        </div>
        <br>
        <div class="map-drawer-text-row">
          <div class="map-drawer-text-left">Charger Type</div>
          <div class="map-drawer-text-right" id="map-drawer-charger">Level 2 XDC</div>
        </div>
        <br>
        <div class="map-drawer-text-row">
          <div class="map-drawer-text-left">Hourly Rate</div>
          <div class="map-drawer-text-right" id="map-drawer-hourly">$5.00</div>
        </div>
        <br>
        <div class="map-drawer-text-row">
          <div class="map-drawer-text-left">3.7/5.0</div>
          <div class="map-drawer-text-right" id="map-drawer-reviews">See Reviews</div>
        </div>
        <br>
        <div class="map-drawer-text-row">
          <div class="map-drawer-text-right" id="map-drawer-dates">View Schedule</div>
        </div>
        <br>
        <div class="map-drawer-text-row" id="map-drawer-details-wrapper">
          <div class="map-drawer-text-left">Additional Details</div>
          <br>
          <div class="map-drawer-text-left" id="map-drawer-details">CONTENT</div>
        </div>
        <br>
        <button id="request-booking-button" class="orange-button">REQUEST BOOKING</button>
      </div>
    </div>
  </main>
  {{>javascripts}}
  {{>footer}}
  <script src="js/map.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body>
</html>