<!DOCTYPE html>
<html>

  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    {{>imports}}
		<link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/userpages.css">
    <link rel="stylesheet" type="text/css" href="/css/map.css">
    {{>mapboxsetup}}
  </head>

  <body>
    {{>sidenav}}
    {{>topnav}}
    <main>
      {{>maprender}}
      <div id="map-drawer">
        <span id="map-drawer-close-button" class="fas fa-times ui-button-custom"></span>
        <span id="map-drawer-expansion-button" class="fas fa-chevron-up ui-button-custom"></span>
        <div id="map-drawer-text-wrapper"></div>
      </div>
    </main>
    {{>footer}}
    {{>javascripts}}
    <script src="js/map.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </body>

</html>