<!DOCTYPE html>
<html>

	<head>
		<title>{{title}}</title>
		<meta charset="utf-8">
		<meta name="viewport"
			content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		{{>imports}}
		<!-- Links to Custom CSS -->
		<link rel="stylesheet" href="/css/global.css">
		<link rel="stylesheet" type="text/css" href="/css/userpages.css">
		<link rel="stylesheet" type="text/css" href="/css/notification.css">
	</head>

	<body>
		{{>sidenav}}
		{{>topnav}}
		{{>content_notification}}
		{{>javascripts}}
		<script src="js/createElement.js"></script>
		<script src="js/render_notification.js"></script>

		{{>footer}}
	</body>

</html>