<!DOCTYPE html>
<html>
<head>
	<title>my profile</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {{>imports}}
	{{>style_profile}}

</head>
<body>
	{{>sidenav}}
	{{>topnav}}
    {{>content_user_profile}}	
    {{>javascripts}}
	<script src="../../js/profile.js"></script>


</body>
</html>