<!DOCTYPE html>
<html>
	<head>
		<title>Wallet</title>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{>imports}}
		{{>style_wallet}}

	</head>
	<body>
	    {{>sidenav}}
		{{>topnav}}
        {{>content_wallet}}		
        {{>javascripts}}
		{{>footer}}
	</body>
</html>