<!DOCTYPE html>
<html>
	<head>
		<title>Wallet</title>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		{{>imports}}
		{{>style_wallet}}

	</head>
	<body>
	    {{>sidenav}}
		{{>topnav}}
        {{>content_wallet}}		
        {{>javascripts}}
		{{>footer}}
		<script src="js/wallet.js"></script>
	</body>
</html>