<main>
    <div class="headerimagecontainer">
        <img src="../images/faq.jpg" class="headerimage" alt="headerimage">
    </div>

    <section class="page_faq">
        <h1 class="text-center">Frequently Asked Questions</h1>
        <div class="content_box_faq">
            <p class="faq">
                Q. How much does it cost to join ZapShare? <br>
                A. It's free to sign-up and search our charger map. Payments are made for booking reservations only. 
            </p>

            <p class="faq">
                Q. If I don't have a dedicated electric vehicle charger, can I still join the network to offer charging to users? <br>
                A. Absolutely! Anyone who can provide access to a wall outlet for vehicles can join the network as a charging point for users. Keep in mind wall outlet charging points generally have a lower cost per use and charging times are longer than a level 2 charger.
            </p>

            <p class="faq">
                Q. How much money can I make with ZapShare? <br>
                A. As much as you want! You can make your charger available as often or as little as you want, accept only the requests you want, and set the price you think is fair too. 
            </p>

            <p class="faq">
                Q. How does it work? <br>
                A. By giving users a network to add their chargers, ZapShare gives power to the people. Our members make more money and can always find what they want.
            </p>
         
            <p class="faq">
                Q. How many people are using ZapShare? <br>
                A. ZapShare is available to users throughout Metro Vancouver, and soon further. 
            </p>

            <p class="faq">
                Q. Does ZapShare have any plans for expansion? <br>
                A. Yes, we are always working not only expand our network but also densify it.
            </p>

            <p class="faq">
                Q. Can I cancel a reservation? How much notice do I need to give? <br>
                A. Yes, you can cancel a reservation. Notice is up to you, although a day is courteous.
            </p>

            <p class="faq">
                Q. I want to use ZapShare but I don't want anyone coming to my house! <br>
                A. That's fine! Everyone can use ZapShare with or without adding their charger to our network.
            </p>
        </div>
    </section>
</main>