<<<<<<< HEAD
<main>
    <div id="wrapper">
        <div id="header-wrapper" class="col-11">
            <h1 class="outer-header">Charger</h1>
            <h3 class="outer-subheader">Dashboard</h3>
        </div>

        <div id="tabs-wrapper">
            <span class="tab-button" id="chargers-tab">Chargers</span>
            <span class="tab-button" id='requests-tab'>Requests</span>
            <span class="tab-button" id='bookings-tab'>Bookings</span>
            <span class="tab-button" id='reviews-tab'>Reviews</span>
            <!-- <span class="tab-button" id='earnings-tab'>Earnings</span> -->
            <span class="tab-button" id='history-tab'>History</span>
=======
<div id="wrapper">
    <div id="header-wrapper" class="col-11">
        <h1 class="outer-header">Charger</h1>
        <h3 class="outer-subheader">Dashboard</h3>
    </div>
    <div id="tabs-wrapper">
        <span class="tab-button orange-highlight" id="chargers-tab">Chargers</span>
        <span class="tab-button" id='requests-tab'>Requests</span>
        <span class="tab-button" id='bookings-tab'>Bookings</span>
        <span class="tab-button" id='reviews-tab'>Reviews</span>
        <!-- <span class="tab-button" id='earnings-tab'>Earnings</span> -->
        <span class="tab-button" id='history-tab'>History</span>

    </div>
    <div id="tab-content" class="col-11">
        <!--
        <div id="confirmed-content" class="tab-section-content col-12">
            <h3 class="col-11 inner-header" id="host-confirmed-header"><b>Confirmed Bookings</b></h3>
            <h6 class="col-11 inner-subheader" id="host-confirmed-subheader">
                These bookings have been confirmed by the host and are ready to go!
            </h6>
            <div class="col-11 tab-section-data row" id="host-confirmed-data">
                <div class="card-panel col-md-5">A card!</div>
                <div class="card-panel col-md-5">A card!</div>
                <div class="card-panel col-md-5">A card!</div>
                <div class="card-panel col-md-5">A card!</div>
            </div>
>>>>>>> ded5ea69961e11d4e1f04152a68eede8d05ffb40
        </div>
        
        <div id="tab-content" class="col-11">
            <div id="confirmed-content" class="tab-section-content col-12">
                <h3 class="col-11 inner-header" id="host-confirmed-header"><b>Confirmed Bookings</b></h3>
                <h6 class="col-11 inner-subheader" id="host-confirmed-subheader">
                    These bookings have been confirmed by the host and are ready to go!
                </h6>
                <div class="col-11 tab-section-data row" id="host-confirmed-data">
                    <div class="card-panel col-md-5">A card!</div>
                    <div class="card-panel col-md-5">A card!</div>
                    <div class="card-panel col-md-5">A card!</div>
                    <div class="card-panel col-md-5">A card!</div>
                </div>
            </div>
            <div id="pending-content" class="tab-section-content col-12">
                <h3 class="col-11 inner-header" id="host-pending-header"><b>Pending Bookings</b></h3>
                <h6 class="col-11 inner-subheader" id="host-pending-subheader">
                    These bookings have not been confirmed by the host yet, we’ll notify you when they do!
                </h6>
                <div class="col-11 tab-section-data row" id="host-pending-data">
                    <div class="card-panel col-md-5">A card!</div>
                    <div class="card-panel col-md-5">A card!</div>
                    <div class="card-panel col-md-5">A card!</div>
                    <div class="card-panel col-md-5">A card!</div>
                </div>
            </div>
        </div>
        -->
    </div>
</main>