<main>
    <div id="wrapper">
        <div id="header-wrapper" class="col-11">
            <h1 class="outer-header">Notifications</h1>
        </div>
        <div id="tab-content" class="col-11">
        </div>
    </div>
</main>     