<main>
    <div id="wrapper">
        <div id="header-wrapper" class="col-11">
            <h1 class="outer-header">Your Wallet</h1>
        </div>
        <div id="tabs-wrapper" class="col-11">
            <a href='./wallet' class="tab-button orange-highlight" id="wallet-tab">View balance</a>
            <a href='./recharge' class="tab-button" id='balance-tab'>Recharge balance</a>
        </div>
        <div id="tab-content" class="col-11">
            <div id="view-balance">
                <div class="wallet">
                    <div class="walletheading">Current Balance</div>
                    <div class="walletbalance"><span class="cad"></span><span id="walletamount"></span></div>
                    <div class="walletparagraph">Your available balance is displayed above. You may use this balance to
                        pay for charger bookings. To withdraw, email loganmann0324@gmail.com your account balance and preferred payment method.</div>
                </div>
            </div>
        </div>
    </div>
</main>