<main>
    <div id="summary-background">
        <img src="../images/contactUs.jpg" id="contactus-image" class="headerimage" alt="Contact Us">
        <div id="contactus-wrapper">
            <h1 class="text-center">Contact Us</h1>
            <div class="text-center" id="contact-us">
                <h4><b>We'd love to hear from you!</b></h4>
                <div>zapshareplatform@gmail.com</div>
                <div>3700 Willingdon Avenue</div>
                <div>Burnaby, British Columbia</div>
                <div>Canada, V5G 3H2</div>
            </div>
        </div>
    </div>
</main>