<main>
    <div id="wrapper">
        <div id="header-wrapper" class="col-11">
            <h1 class="outer-header">Your Wallet</h1>
        </div>
        <div id="tabs-wrapper" class="col-11">
            <a href='./wallet' class="tab-button" id="wallet-tab">View balance</a>
            <a href='./recharge' class="tab-button orange-highlight" id='balance-tab'>Recharge balance</a>
        </div>
        <div id="tab-content" class="col-11">
            <div id="recharge-balance">
                <div id="recharge">
                    <div class="full-center-wrapper" id="balance-button-wrapper">
                        <button class="balance-button">$10.00</button>
                        <button class="balance-button">$20.00</button>
                        <button class="balance-button">$50.00</button>
                        <button class="balance-button">$100.00</button>
                    </div>
                    <button id="recharge-button" class="orange-button-wallet">RECHARGE</button>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://js.stripe.com/v3/"></script>
<script>
    document.getElementById('recharge-button').addEventListener('click', async () => {
        let amount = document.querySelector('.balance-button-selected').innerText.replace(/^\$+/, '');
        amount = parseFloat(amount) * 100; // Stripe uses cents instead of dollars

        const response = await fetch('/create-checkout-session', {
            method: "POST",
            body: JSON.stringify({ amount: amount }),
            headers: {
                'content-type': 'application/json',
                'Authorization': 'Bearer ' + jwt
            }
        })
        const session = await response.json();

        const stripe = Stripe('pk_test_51NWQUFJDvNhYRqstHSerYpzi09bxUZMkis3qjgfNFYhwq4gK0d4ncQoF9zYSMWP062nWpJFNYkgTH3insQR65L4J00HvLec1K9');

        const { error } = await stripe.redirectToCheckout({
            sessionId: session.id,
        });

        if (error) {
            console.error('Error:', error);
        }
    });
</script>