<div id="wrapper">
    <div id="header-wrapper">
        <h1 class="outer-header">Client</h1>
        <h3 class="outer-subheader">Dashboard</h3>
    </div>
<<<<<<< HEAD
    <div id='mainTabs'>
        <span id='bookings'>Bookings</span>
        <span id='payment'>Payment</span>
        <span id='reviews'>Reviews</span>
        <span id='history'>History</span>
=======
    <div id="tabs-wrapper">
        <span class="tab-button" id="bookings-tab">Bookings</span>
        <span class="tab-button" id='payment-tab'>Payment</span>
        <span class="tab-button" id='reviews-tab'>Reviews</span>
>>>>>>> 3583a400bf3638fcbbc5689bdd24c756338a2907
    </div>

    <div id="tab-content" class="col-12">
        <div class="col-12">
            <h3 class="col-11 inner-header" id="client-confirmed-header"><b>Confirmed Bookings</b></h3>
            <h6 class="col-11 inner-subheader" id="client-confirmed-subheader">
                These bookings have been confirmed by the host and are ready to go!
            </h6>
            <div class="col-10 well" id="client-confirmed-data">Some info from database</div>
        </div>
        <div class="col-12">
            <h3 class="col-11 inner-header" id="client-pending-header"><b>Pending Bookings</b></h3>
            <h6 class="col-11 inner-subheader" id="client-pending-subheader">
                These bookings have not been confirmed by the host yet, we’ll notify you when they do!
            </h6>
            <div class='col-10 well' id='client-pending-data'>Some info from firebase</div>
        </div>
    </div>
</div>