<main>
    <div id="wrapper">
        <div id="header-wrapper" class="col-11">
            <h1 class="outer-header">Charger</h1>
            <h3 class="outer-subheader">Dashboard</h3>
        </div>
        <div id="tabs-wrapper" class="col-11">
            <a href="./charger_dashboard" class="tab-button" id="chargers-tab">Chargers</a>
            <a href="./charger_requests" class="tab-button" id="requests-tab">Requests</a>
            <a href="./charger_bookings" class="tab-button" id="bookings-tab">Bookings</a>
            <a href="./charger_reviews" class="tab-button" id="reviews-tab">Reviews</a>
            <a href="./charger_history" class="tab-button orange-highlight" id="history-tab">History</a>
        </div>
        <div id="tab-content" class="col-11">
            <div id="historyContainer" class="tab-section-content col-12">
                <h3 class="col-11 inner-header"><b>Booking History</b></h3>
                <h6 class="col-11 inner-subheader">These are the past bookings that have been
                    made with you. Green cards have already been reviewed.</h6>
                <div class="col-11 tab-section-data row booking-class" id="charger-history">
                    <div class="no-data">
                        <p>You don't have any past bookings!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>