<div id="contentContainer">
    <div class='profileHeader'>
        <h1>Profile</h1>
    </div>
    <div id='mainTabs'>
        <a id='bookings' href='#'>Bookings</a>
        <a id='payment' href='#'>Payment</a>
        <a id='reviews' href='#'>Reviews</a>
    </div>

<!-- content to replace -->
    <div id='outerBox'>
        <div class="row margin-setting content" id="subContent">
            <div class="col-12">
                <h3 class="col-10 content-margin h1-font-size" id="bookingHeading1"><b>Confirmed Bookings</b></h3>
                <h6 class="col-10 content-margin h2-font-size" id="bookingSubHeading1">
                    These bookings have been confirmed by the host and are ready to go!
                </h6>
                <div class="col-10 well" id="confirmedBookingData">Some info from database</div>
            </div>
            <div class="col-12">
                <h3 class='col-10  content-margin h1-font-size' id= 'bookingHeading2'><b>Pending Bookings</b></h3>
                <h6 class='col-10 content-margin h2-font-size' id='bookingSubHeading2'>
                    These bookings have not been confirmed by the host yet, we’ll notify you when they do!
                </h6>
                <div class='col-10 well' id='pendingBookingData'>Some info from firebase</div>
            </div>
        </div>
    </div>
</div>