<main>
    <div id="wrapper">
        <div id="header-wrapper" class="col-11">
            <h1 class="outer-header">Charger</h1>
            <h3 class="outer-subheader">Dashboard</h3>
        </div>
        <div id="tabs-wrapper" class="col-11">
            <span class="tab-button orange-highlight" id="chargers-tab">Chargers</span>
            <span class="tab-button" id='requests-tab'>Requests</span>
            <span class="tab-button" id='bookings-tab'>Bookings</span>
            <span class="tab-button" id='reviews-tab'>Reviews</span>
            <span class="tab-button" id='history-tab'>History</span>

        </div>
        <div id="tab-content" class="col-11">
        </div>
</main>