<main>
    <div class="headerimagecontainer">
        <img src="../images/contactus.jpg" class="headerimage" alt="headerimage">
    </div>

    <section class="page_contact">
        <h1 class="text-center">Contact Us</h1>
        <div class="content_box_contact">
            <p>
                We would love to hear from you! Our developers are focused on building the core features of our web app at the moment, so a contact us form will be coming in the future. In the meantime, for any business inquiries or to reach any of our team members, please email us directly at <a id="email-link" href="mailto:zapshareplatform@gmail.com"> zapshareplatform@gmail.com </a>.
            </p>
        </div>
    </section>
</main>