<main>
    <div id="wrapper">
        <div id="header-wrapper" class="col-11">
            <h1 class="outer-header">Your Profile</h1>
        </div>
        <div id="tabs-wrapper">
            <span class="tab-button" id="details-tab">Profile Details</span>
            <span class="tab-button" id='password-tab'>Change Password</span>
            <span class="tab-button" id='notification-tab'>Notification Settings</span>
        </div>
        <div id="tab-content" class="col-11">
            <div id="profile-details" class="tab-section-content col-12">
                <h3 class="col-11 inner-header" id="profile-details-header"><b>Profile Details</b></h3>
                <form class="col-11 tab-section-data row" id="profile-details-form">
                    <div class="full-center-wrapper" id="profile-name-wrapper">
                        <label id="profile-name-label" class="form-label profile-label" for="profile-name-input">Name</label>
                        <input type="text" name="name" id="profile-name-input" class="form-input profile-input" >
                    </div>
                    <div class="full-center-wrapper" id="profile-email-wrapper">
                        <label id="profile-email-label" class="form-label profile-label" for="profile-email-input">Email</label>
                        <input type="text" name="email" id="profile-email-input" class="form-input profile-input" >
                    </div>
                    <div class="full-center-wrapper" id="profile-phone-wrapper">
                        <label id="profile-phone-label" class="form-label profile-label" for="profile-phone-input">Phone</label>
                        <input type="text" name="phone" id="profile-phone-input" class="form-input profile-input" >
                    </div>
                    
                    <input type="submit" id="save-btn" class="orange-button small-btn" value="Save">
                    <button id="edit-btn" class="white-button small-btn">Edit</button>
                </form>
            </div>
            <hr>
            <div id="notif-settings" class="tab-section-content col-12">
                <h3 class="col-11 inner-header" id="notif-settings-header"><b>Notification Settings</b></h3>
                <div class="col-11 tab-section-data row" id="notif-settings-form">
                    <div class="full-center-wrapper">
                        <input type="checkbox" class="notif-checkbox" id="notif-requests-checkbox" checked disabled>
                        <label id="notif-requests-checkbox" class="form-label notif-label" for="notif-requests-checkbox">Receive
                            notifications for booking requests</label>
                    </div>
                    <div class="full-center-wrapper">
                        <input type="checkbox" class="notif-checkbox" id="notif-unpaid-checkbox" checked disabled>
                        <label id="notif-unpaid-checkbox" class="form-label notif-label" for="notif-unpaid-checkbox">Receive
                            notifications for unpaid bookings</label>
                    </div>
                    <button id="notif-button" class="orange-button disabled-button small-btn" disabled>Save</button>
                </div>
            </div>
        </div>
    </div>
</main>