<main>
    <div id="wrapper">
        <div id="header-wrapper" class="col-11">
            <h1 id="user-name" class="outer-header"></h1>
            <h3 class="outer-subheader">Dashboard</h3>
        </div>
        <div id="tabs-wrapper" class="col-11">
            <a href='./user_bookings' class="tab-button" id="bookings-tab">Bookings</a>
            <a href='./user_payments' class="tab-button" id="payments-tab">Payments</a>
            <a href='./user_feedback' class="tab-button" id="reviews-tab">Feedback</a>
            <a href='./user_history' class="tab-button orange-highlight" id="history-tab">History</a>
        </div>
        <div id="tab-content" class="col-11">
            <div id="historyContainer" class="tab-section-content col-12">
                <h3 class="col-11 inner-header" id="history-heading"><b>Booking History</b></h3>
                <h6 class="col-11 inner-subheader" id="history-subheading">These are your past bookings. Click a booking
                    to review your experience. Green cards have already been reviewed.</h6>
                <div class="col-11 tab-section-data row" id="charger-history">
                    <div class="no-data">
                        <p>You don't have any past bookings!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>