<h1>Host</h1>
<ul>
    <li>Chargers</li>
    <li>Requests</li>
    <li>Payment</li>
</ul>
<div>
    <h3>New Charger</h3>
    <p>Add a new charger!</p>

    <form>
        <input type="text" placeholder="Name" required="required" name="Name">
        <br />
        <input type="text" placeholder="Address" required="required" name="Address">
        <br />
        <input type="text" placeholder="City" required="required" name="City">
        <br />
        <input type="text" placeholder="Contact Number" required="required" name="Contact Number">
        <br />
        <select name="Type" required="required">
            <option value="Level 1">Level 1</option>
            <option value="Level 2">Level 2</option>
            <option value="Level 3">Level 3</option>
        </select>
        <br />
        <input type="number" placeholder="Hourly Rate" min="0" max="99" required='required'>
        <br />
        <textarea name="Additional Details" rows="6" cols="60">
					Additional Details (optional) (max 80 characters)
				</textarea>
        <br />
        <a href="host_settings.html">Cancel</a>
        <input type="submit" value="Add Charger">
    </form>
</div>