<main>
    <div id="summary-background">
        <img src="../images/homeImg.jpeg" id="adoption-image" alt="logo">
        <div id="summary-text">
            <div id="summary-lines">
                <a id="map-link" href="/map">Find a charger</a> anywhere by visiting our Map page.
                We offer a peer-to-peer network of private chargers, viewable on a real-time map.
                <span id='signup'>Sign-up</span> for an account today to request a charger or
                offer your own home charger on the CrowdCharge network.
                Our mission is to increase electric vehicle adoption by improving charger
                availability anytime and anywhere.
            </div>
        </div>
    </div>
    <div class="wrapper2 threecolumns onecolumn">
        <div class="homebox" onclick="window.location.href='about'">
            <div class="boxheading">Save Time</div>
            <div class="boximage"><img class="homeicons" src="../images/savetime.svg" alt="homeicon1"></div>
            <div class="boxparagraph">Your time is valuable, keep your electric vehicle charged anywhere you go. Search
                for chargers
                near you by heading over to our Map page.</div>
        </div>

        <div class="homebox" onclick="window.location.href='about'">
            <div class="boxheading">Go Green</div>
            <div class="boximage"><img class="homeicons" src="../images/community.svg" alt="homeicon2"></div>
            <div class="boxparagraph">Support other electric vehicle owners and join our growing community. Sign-up for
                a CrowdCharge
                account to enjoy reservation and review features.</div>
        </div>

        <div class="homebox" onclick="window.location.href='about'">
            <div class="boxheading">Earn Cash</div>
            <div class="boximage"><img class="homeicons" src="../images/getpaid.svg" alt="homeicon3"></div>
            <div class="boxparagraph">Offer your own home charger on the CrowdCharge network and start earning extra cash.
                Sign-up for a
                CrowdCharge account to enter your charger details.
            </div>
        </div>

    </div>
</main>