<main>
    <div id="wrapper">
        <div id="header-wrapper" class="col-11">
            <h1 class="outer-header">Your Profile</h1>
        </div>
        <div id="tabs-wrapper" class="col-11">
            <span class="tab-button orange-highlight" id="details-tab">Profile Details</span>
            <span class="tab-button" id='password-tab'>Change Password</span>
            <!-- Notification setting feature not implemented yet, commented out
            <span class="tab-button" id='notification-tab'>Notifications</span> -->
        </div>
        <div id="tab-content" class="col-11">
        </div>
    </div>
</main>