<main>
    <div class="headerimagecontainer">
        <img src="../images/policy.jpg" class="headerimage" alt="logo">
    </div>

    <div class="policy-wrapper privacyText">
        <h1>Disclaimer</h1>

        <p>Last updated: May 17, 2019</p>

        <p>The information contained on www.zapshare.co website (the "Service") is for general information purposes
            only.</p>

        <p>ZapShare assumes no responsibility for errors or omissions in the contents on the Service.</p>

        <p>In no event shall ZapShare be liable for any special, direct, indirect, consequential, or incidental damages
            or any damages whatsoever, whether in an action of contract, negligence or other tort, arising out of or in
            connection with the use of the Service or the contents of the Service. ZapShare reserves the right to make
            additions, deletions, or modification to the contents on the Service at any time without prior notice. This
            Disclaimer for ZapShare has been created with the help of <a
                href="https://termsfeed.com/disclaimer/generator/">TermsFeed Disclaimer Generator</a>.</p>

        <p>ZapShare does not warrant that the website is free of viruses or other harmful components.</p>

        <h2>External links disclaimer</h2>

        <p>www.zapshare.co website may contain links to external websites that are not provided or maintained by or in
            any way affiliated with ZapShare</p>

        <p>Please note that the ZapShare does not guarantee the accuracy, relevance, timeliness, or completeness of any
            information on these external websites.</p>

    </div>
</main>