<main>
    <div id="wrapper">
        <div id="header-wrapper" class="col-11">
            <h1 id="user-name" class="outer-header">User</h1>
            <h3 class="outer-subheader">Dashboard</h3>
        </div>
        <div id="tabs-wrapper">
            <span class="tab-button orange-highlight" id="bookings-tab">Bookings</span>
            <span class="tab-button" id='payments-tab'>Payment</span>
            <span class="tab-button" id='reviews-tab'>Reviews</span>
            <span class="tab-button" id='history-tab'>History</span>
        </div>
        <div id="tab-content" class="col-11"></div>
    </div>
</main>