<div id="contentContainer">
    <div class="row margin-setting">
        <div class="col-12">
            <h1 id="notification-header"><b>Profile</b></h1>
        </div>
    </div>
    <div class="margin-setting content" id="subContent">
        <div id="user-img">
            <img alt="user profile icon" src="../../images/user_Icon.png" class="img-responsive" id="profile-icon" /> <br>
            <button id="img-btn">Upload</button>
        </div>

        <div class="col-12 inner-margin-setting" id="form">
            <div id="input-field">
                <label class="">Name</label>
                <input type="text" id="name" readonly class="input-style input-disable">
                <label class="">Contact number</label>
                <input type="text" id="phone" readonly class="input-style input-disable">
                <label class="">Email</label>
                <input type="eamil" id="email" readonly class="input-style input-disable">
                <br>
                <button id= "edit-btn">Edit</button>
                <button type= "submit" id= "save-btn">Save</button>
            </div>
            <div id="checkbox-field">
                <h2>Notification Setting</h2>
                <input type="checkbox" class="">Receive notifications for booking requests<br>
                <input type="checkbox" class="">Receive notifications for unpaid bookings<br>
            </div>
        </div>
    </div>
</div>
	<script src="../../js/user_setting.js"></script>
