<main>
    <div class="headerimagecontainer">
        <img src="../images/about.jpg" class="headerimage" alt="logo">
        <div class="headertext">
            About ZapShare
        </div>
    </div>

    <div class="whitebackground wrapper3">
        <h2>Our Story and Mission</h2>
        <div class="aboutUsText">
            <p>
                1. We believe we can change the world for the better by increasing the adoption of electric
                    vehicles in our cities.</br></br>
                2. We understand the pain points of owning an electric vehicle; we are building techonology that
                    improves the user experience.</br></br>
                3. We believe in a peer-to-peer network system, where our users can engage directly with other
                    electric vehicle owners.
            </p>
        </div>
    </div>

    <div class="whitebackground wrapper3 fourcolumns twocolumns onecolumn">
        <div class="homebox">
            <div class="boxheading">Environmentally Friendly Transport</div>
            <div class="boximage"><img class="homeicons" src="../images/greencar.svg" alt="abouticon1"></div>
            <div class="boxparagraph">Electric vehicles produce zero emissions, making them an ideal choice
                for mid-to-long range trips around the city.</div>
        </div>

        <div class="homebox">
            <div class="boxheading">Clean and Renewable Energy</div>
            <div class="boximage"><img class="homeicons" src="../images/greenenergy.svg" alt="abouticon2">
            </div>
            <div class="boxparagraph">Electric vehicles go hand-in-hand with renewable energy sources. With
                more EV's on the roads, we can be less reliant on fossil fuels.</div>
        </div>

        <div class="homebox">
            <div class="boxheading">Clean Air</div>
            <div class="boximage"><img class="homeicons" src="../images/cleanair.svg" alt="abouticon3"></div>
            <div class="boxparagraph">By increasing the adoption of EV vehicles, we are able to lower the
                number of gas powered cars in our cities that pollute our air.</div>
        </div>

        <div class="homebox">
            <div class="boxheading">Healthy and Equitable Economy</div>
            <div class="boximage"><img class="homeicons" src="../images/healthyeconomy.svg" alt="abouticon3">
            </div>
            <div class="boxparagraph">Anyone with an available charger can participate in our network as a
                host and receive peer-to-peer payments for their services provided. </div>
        </div>
    </div>
</main>