<main>
    <div id="wrapper">
        <div id="header-wrapper" class="col-11">
            <h1 id="user-name" class="outer-header"></h1>
            <h3 class="outer-subheader">Dashboard</h3>
        </div>
        <div id="tabs-wrapper" class="col-11">
            <a href='./user_bookings' class="tab-button orange-highlight" id="bookings-tab">Bookings</a>
            <a href='./user_payments' class="tab-button" id="payments-tab">Payments</a>
            <a href='./user_feedback' class="tab-button" id="reviews-tab">Feedback</a>
            <a href='./user_history'class="tab-button" id="history-tab">History</a>
        </div>
        <div id="tab-content" class="col-11">
            <div id="confirmed-content" class="tab-section-content col-12">
                <h3 class="col-11 inner-header"><b>Paid Bookings</b></h3>
                <h6 class="col-11 inner-subheader">These bookings have already been
                    confirmed and paid for!</h6>
                <div class="col-11 tab-section-data row booking-class" id="user-paid">
                    <div class="no-data">
                        <p>Loading...</p>
                    </div>
                </div>
            </div>
            <div id="pending-content" class="tab-section-content col-12">
                <h3 class="col-11 inner-header"><b>Pending Bookings</b></h3>
                <h6 class="col-11 inner-subheader">These bookings have not been confirmed by the
                    host yet, we’ll notify you when they do!</h6>
                <div class="col-11 tab-section-data row booking-class" id="user-pending">
                    <div class="no-data">
                        <p>Loading...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <script>
        // Include your Tesla login code here
        var tjs = require('teslajs');

        var username = "<your MyTesla email>";
        var password = "<your MyTesla password>";

        tjs.login({
            username: username,
            password: password,
            mfaPassCode: mfaPassCode
        }, function (err, result) {
            if (result.error) {
                console.log(JSON.stringify(result.error));
                process.exit(1);
            }

            var token = JSON.stringify(result.authToken);

            if (token)
                console.log("Login Successful!");

            // You can continue with your Tesla API requests here
        });
    </script>
</main>