<div id="contentContainer">
    <div class="row margin-setting">
        <div class="col-12">
            <h1 id="profile-header"><b>Profile</b></h1>
        </div>
    </div>
    <div class="row margin-setting" id="profile-tab">
        <div class="col-12">
            <ul class="nav">
                <li class="nav-item profile-nav"><a id="bookings" href="#"> Bookings</a></li>
                <li class="nav-item profile-nav"><a id="payment" href="#">Payment</a></li>
                <li class="nav-item profile-nav"><a id="reviews" href="#">Reviews</a></li>
            </ul>
        </div>
    </div>
    <div class="row margin-setting content" id="subContent">

    </div>
</div>