<div class='hostHeader'>
    <h1>Host</h1>
</div>
<div id='mainTabs'>
    <a id='chargers' href='#'>Chargers</a>
    <a id='bookings' href='#'>Bookings</a>
    <a id='reviews' href='#'>Reviews</a>
    <a id='earnings' href='#'>Earnings</a>
</div>

<div id='outerBox'>
    <div id='content'></div>

</div>