<main>
    <div id="wrapper">
        <div id="header-wrapper" class="col-11">
            <h1 class="outer-header">Your Wallet</h1>
        </div>
        <div id="tabs-wrapper" class="col-11">
            <a href='./wallet' class="tab-button" id="wallet-tab">View balance</a>
            <a href='./recharge' class="tab-button orange-highlight" id='balance-tab'>Recharge balance</a>
        </div>
        <div id="tab-content" class="col-11">
            <div id="recharge-balance">
                <div id="recharge">
                    <div class="full-center-wrapper" id="balance-button-wrapper">
                        <button class="balance-button">$10.00</button>
                        <button class="balance-button">$20.00</button>
                        <button class="balance-button">$50.00</button>
                        <button class="balance-button">$100.00</button>
                    </div>
                    <button id="recharge-button" class="orange-button-wallet">RECHARGE</button>
                </div>
            </div>
        </div>
    </div>
</main>