<main>
    <div id="wrapper">
        <div id="header-wrapper" class="col-11">
            <h1 class="outer-header">Your Profile</h1>
        </div>
        <div id="tabs-wrapper" class="col-11">
            <a href="./profile_details" class="tab-button" id="details-tab">Profile Details</a>
            <a href="./change_password" class="tab-button orange-highlight" id='password-tab'>Change Password</a>
        </div>
        <div id="tab-content" class="col-11">
            <div id="password-content" class="tab-section-content col-12">
                <h3 class="col-11 inner-header" id="change-password-header"><b>Change Password</b></h3>
                <h6 class="col-11 inner-subheader" id="change-password-subheader"></h6>
                <form class="col-11 tab-section-data row" id="password-change-form">
                    <div class="full-center-wrapper" id="profile-newpassword-wrapper"><label
                            id="profile-newpassword-label" class="form-label profile-label"
                            for="profile-newpassword-input">New password</label><input type="password"
                            name="newpassword" id="profile-newpassword-input" class="form-input profile-input"></div>
                    <div class="full-center-wrapper" id="profile-confirmpassword-wrapper"><label
                            id="profile-confirmpassword-label" class="form-label profile-label"
                            for="profile-confirmpassword-input">Confirm new password</label><input type="password"
                            name="confirmpassword" id="profile-confirmpassword-input" class="form-input profile-input">
                    </div><input type="submit" id="password-btn" class="orange-button small-btn disabled-button"
                        value="Save Password" readonly="">
                </form>
            </div>
        </div>
    </div>
</main>