<div id="contentContainer">
    <div class="row margin-setting">
        <div class="col-12">
            <h1 id="notification-header"><b>Profile</b></h1>
        </div>
    </div>
    <div class="margin-setting content" id="subContent">
        <div id="user-img">
            <img alt="user profile icon" src="../../images/user_Icon.png" class="img-responsive" id="profile-icon" /> <br>
            <button id="img-btn">upload..</button>
        </div>

        <div class="col-12 inner-margin-setting" id="form">
            <form>
                <label class="">Name</label>
                <input type="text" id="name" readonly class="input-width">
                <label class="">Contact number</label>
                <input type="text" id="phone" readonly class="input-width">
                <label class="">Email</label>
                <input type="eamil" id="email" readonly class="input-width">
                <br><br><br>
                <input type="checkbox" class="">Unpaid booking notifications<br>
                <input type="checkbox" class="">Booking requests notifications<br>
                <br>
                <button id= "save-btn">save</button>

            </form>
        </div>
    </div>
</div>