<main>
    <div class="headerimagecontainer">
        <img src="../images/contactus.jpg" class="headerimage" alt="headerimage">
    </div>

    <section class="page_contact">
        <h1 class="text-center">Contact Us</h1>
        <div class="content_box_contact">
            <p> I would love to hear from you! I am hard at work to implement core features of the map,
                in the future, a contact me form will be available here. In the meantime, for all business enquiries or
                to reach out, please email me directly at <a
                    href="mailto: CrowdChargeplatform@gmail.com" id="email-link">loganmann0324@gmail.com</a>.
            </p>
        </div>
    </section>
</main>