<main>
    <div id='walletHeader'>
        <h1>Your Wallet</h1>
        <h3>Current Balance $</h3>
    </div>
    <div id='walletOuterBox'>
        <div class='fundsBox'>
            <p class='boxTitle'><span>Add </span>CDN$ 5.00</p>
            <button type='button' class='addFunds'>Add Funds</button>
        </div>
        <div class='fundsBox'>
            <p class='boxTitle'><span>Add </span>CDN$ 10.00</p>
            <button type='button' class='addFunds'>Add Funds</button>
        </div>
        <div class='fundsBox'>
            <p class='boxTitle'><span>Add </span>CDN$ 25.00</p>
            <button type='button' class='addFunds'>Add Funds</button>
        </div>
        <div class='fundsBox'>
            <p class='boxTitle'><span>Add </span>CDN$ 50.00</p>
            <button type='button' class='addFunds'>Add Funds</button>
        </div>
        <div class='fundsBox'>
            <p class='boxTitle'><span>Add </span>CDN$ 100.00</p>
            <button type='button' class='addFunds'>Add Funds</button>
        </div>
    </div>
</main>