<main>
    <div class="headerimagecontainer">
        <img src="../images/contactus.jpg" class="headerimage" alt="headerimage">
    </div>

    <section class="page_contact">
        <h1 class="text-center">Contact Us</h1>
        <div class="content_box_contact">
            <p> We would love to hear from you! Our developers are hard at work to implement core features of our map, in the future, a contact us form will be available here. In the meantime, for all business enquiries or to reach one of our team members, please email us directly at <a href="mailto: zapshareplatform@gmail.com" id="email-link">zapshareplatform@gmail.com</a>.
            </p>
        </div>
    </section>
</main>