<main>
    <div class="headerimagecontainer">
        <img src="../images/faq.jpg" class="headerimage" alt="headerimage">
    </div>

    <section class="page_faq">
        <h1 class="text-center">Frequently Asked Questions</h1>
        <div class="content_box_faq">
            <p class="faq">
                Q. How much does it cost to join ZapShare? <br>
                A. It's free to sign-up and search our charger map. Payments are made for booking reservations only.
            </p>
        </div>
    </section>
</main>