<h1>Host</h1>
<ul>
    <li>Chargers</li>
    <li>Requests</li>
    <li>Payment</li>
</ul>
<div class="homebox">
    <h3>Chargers</h3>
    <p>Here are your chargers! Select them to edit details and availability.</p>

    <a>Good Home Charger</a>
    <a href="add_new_charger.html">Add new charger</a>
</div>