<main>
    <div class="headerimagecontainer">
        <img src="../images/about.jpg" class="headerimage" alt="logo">
    </div>

    <section class="page_about">
        <h1 class="text-center">Our Story and Mission</h1>
		    <div class="content_box_about">
                <p>
                    1. We believe the adoption of electric vehicles is key to a more eco-friendly and sustainable city. Electric vehicles can utilize renewable energy sources directly and they produce zero emissions compared to their gas powered counterparts.</br></br>
                    2. To bring about the adoption of electric vehicles, we must address the pain points of owning an electric vehicle, such as charger availability and range anxiety. Our solution is to become the bridge between electric vehicle owners and home owners with private chargers.</br></br>
                    3. We believe by monetizing private chargers utilizing a peer-to-peer sharing model, we can add thousands of charging points in our city without the need for the government to spend millions of dollars on centralized charging infrastructure.
                </p>    
	        </div>
  	</section>

    <section class="page_ecocity">
        <h1 class="text-center">Meeting Ecocity Standards</h1>
            <div class="content_box_ecocity fourcolumns twocolumns onecolumn">
                <a href="https://ecocitystandards.org/urban-design/environmentally-friendly-transport/" class="homebox">
                    <div class="boxheading">Environmentally Friendly Transport</div>
                    <div class="boximage"><img class="abouticons" src="../images/greencar.svg" alt="abouticon1"></div>
                    <div class="boxparagraph">Electric vehicles produce zero emissions, making them an ideal choice
                    for mid-to-long range trips around the city.</div>
                </a>

                <a href="https://ecocitystandards.org/bio-geo-physical/clean-and-renewable-energy/" class="homebox">
                    <div class="boxheading">Clean and Renewable Energy</div>
                    <div class="boximage"><img class="abouticons" src="../images/greenenergy.svg" alt="abouticon2">
                    </div>
                    <div class="boxparagraph">Electric vehicles go hand-in-hand with renewable energy sources; renewable energy
                        sources can supply power directly to electric vehicles.
                    </div>
                </a>

                <a href="https://ecocitystandards.org/bio-geo-physical/clean-air/" class="homebox">
                    <div class="boxheading">Clean Air</div>
                    <div class="boximage"><img class="abouticons" src="../images/cleanair.svg" alt="abouticon3"></div>
                    <div class="boxparagraph">By increasing the adoption of electric vehicles, we are able to reduce the
                        number of gas powered cars in our cities that pollute the air.</div>
                </a>

                <a href="https://ecocitystandards.org/socio-cultural/healthy-and-equitable-economy/" class="homebox">
                    <div class="boxheading">Healthy and Equitable Economy</div>
                    <div class="boximage"><img class="abouticons" src="../images/healthyeconomy.svg" alt="abouticon4">
                    </div>
                    <div class="boxparagraph">Homeowners with private chargers can join our network as a charger
                        host and receive payments for charging electric vehicles. </div>
                </a>
            </div>
    </section>

    <section class="page_team">
        <h1 class="text-center">Our Team</h1>
		    <div class="content_box_team fivecolumns twocolumns onecolumn">

                <div class="teambox">
                    <div class="profileimagebox"><img class="profileimage" id="alex" src="../images/alex.gif" alt="profilephoto"></div>
                    <div class="profileheading">Alex Giasson</div>
                    <div class="profiledescription">Alex is a BCIT CST student from Vancouver who is excited to build things that improve his city.
                        Ever since he was a boy he looked at the stars and dreamed of the day electric cars would rule. 
                    </div>
                </div>

                <div class="teambox">
                    <div class="profileimagebox"><img class="profileimage" id="edwin" src="../images/edwin.gif" alt="profilephoto"></div>
                    <div class="profileheading">Edwin Pau</div>
                    <div class="profiledescription">Edwin has a strong desire to help Vancouver become one of the greenest cities in the world. In order
                        to meet that goal, he believes we must do more to promote the adoption of electric vehicles. ZapShare was created to help electric 
                        vehicle owners overcome range anxiety and charger availability issues.</div>
                </div>

                <div class="teambox">
                    <div class="profileimagebox"><img class="profileimage" id="eric" src="../images/eric.gif" alt="profilephoto"></div>
                    <div class="profileheading">Eric Huang</div>
                    <div class="profiledescription">Growing up, Eric has always been interested in electric cars. As someone who's passionate about technology, he wants to see
                        electric vehicles succeed. But after seeing the scarcity of electric vehicle chargers in many areas of British Columbia, he knew that a change needed to happen.</div>
                </div>

                <div class="teambox">
                    <div class="profileimagebox"><img class="profileimage" id="louis" src="../images/louis.gif" alt="profilephoto"></div>
                    <div class="profileheading">Louis Lu</div>
                    <div class="profiledescription">Louis lives far away from the city. The long commute to school and back home daily is 
                        having a large impact on his finances due to the high cost of gas. This made him look into electric vehicles 
                        and he thinks that it would be a great idea to create an app that can help people who own electric vehicles. </div>
                </div>

                <div class="teambox">
                    <div class="profileimagebox"><img class="profileimage" id="vivian" src="../images/vivian.gif" alt="profilephoto"></div>
                    <div class="profileheading">Vivian Wu</div>
                    <div class="profiledescription">Vivian is passionate about renewable energy sources and wants to see renewable energy being utilized 
                        in everyday vehicles. She believes in a future where our cars are powered by 100% clean renewable energy, such as hydro and solar.</div>
                </div>

            </div>
  	</section>

    <section class="page_ecocity">
        <h1 class="text-center">Our App Features</h1>
            <div class="content_box_ecocity fourcolumns twocolumns onecolumn">
                <a href="/map" class="homebox">
                    <div class="boxheading">Search our Map</div>
                    <div class="boximage"><img class="abouticons" src="../images/map.svg" alt="abouticon1"></div>
                    <div class="boxparagraph">We have a fully functional map of all private charger points stored in our secured database.</div>
                </a>

                <a href="/map" class="homebox">
                    <div class="boxheading">Request a Charger</div>
                    <div class="boximage"><img class="abouticons" src="../images/booking.svg" alt="abouticon3"></div>
                    <div class="boxparagraph">Users can request chargers for a specific time by creating a notification request to the host.
                    </div>
                </a>

                <a href="/client_dashboard" class="homebox">
                    <div class="boxheading">Host a Charger</div>
                    <div class="boximage"><img class="abouticons" src="../images/plug.svg" alt="abouticon3"></div>
                    <div class="boxparagraph">Home owners with private chargers can opt-in and host their chargers to earn cash.</div>
                </a>

                <a href="/wallet" class="homebox">
                    <div class="boxheading">Pay Directly</div>
                    <div class="boximage"><img class="abouticons" src="../images/payment.svg" alt="abouticon4">
                    </div>
                    <div class="boxparagraph">Pay for charging directly through our app with your rechargeable ZapShare wallet.</div>
                </a>
            </div>
    </section>    
</main>