<div id="contentContainer">
    <div class="row margin-setting">
        <div class="col-12">
            <h1 id="notification-header"><b>Notification</b></h1>
        </div>
    </div>
    <div class="row margin-setting content" id="subContent">

    </div>
</div>