<footer>
    <div class="footerwrapper">
        <div class="footercolumn">
            <div class="footertitle">Quick Links</div>
            <ul>
                <li><a href="index">Home</a></li>
                <li><a href="map">Find a Charger</a></li>
            </ul>
        </div>

        <div class="footercolumn">
            <div class="footertitle">Policies</div>
            <ul>
                <li><a href="privacy">Privacy</a></li>
                <li><a href="disclaimer">Disclaimer</a></li>
                <li><a href="terms">Terms of Use</a></li>
            </ul>
        </div>

        <div class="footercolumn">
            <div class="footertitle">Support</div>
            <ul>
                <li><a href="faq">FAQ</a></li>
                <li><a href="contact">Contact Us</a></li>
            </ul>
        </div>

        <div class="footercolumn">
            <div class="footertitle">About</div>
            <ul>
                <li><a href="about">About Us</a></li>
                <li><a href="https://www.facebook.com/profile.php?id=61555352581431">Facebook</a></li>
                <li><a href="https://www.instagram.com/crowdchargeteam/">Instagram</a></li>
            </ul>
        </div>
    </div>
    <div id="footer-p">Website designed by <a href="mailto:CrowdChargeplatform@gmail.com">Logan Mann</a>
        <br>
        © 2023 CrowdCharge, All Rights Reserved.</div>
</footer>