<footer>
    <div class="footerwrapper">
        <div class="footercolumn">
            <div class="footertitle">Quick Links</div>
            <ul>
                <li><a href="index">Home</a></li>
                <li><a href="sitemap">Site Map</a></li>
                <li><a href="map">Find a Charger</a></li>
            </ul>
        </div>

        <div class="footercolumn">
            <div class="footertitle">Policies</div>
            <ul>
                <li><a href="privacy">Privacy</a></li>
                <li><a href="disclaimer">Disclaimer</a></li>
                <li><a href="terms">Terms of Use</a></li>
            </ul>
        </div>

        <div class="footercolumn">
            <div class="footertitle">Support</div>
            <ul>
                <li><a href="faq">FAQ</a></li>
                <li><a href="contact">Contact Us</a></li>
            </ul>
        </div>

        <div class="footercolumn">
            <div class="footertitle">About</div>
            <ul>
                <li><a href="about">About Us</a></li>
                <li><a href="https://www.facebook.com/ZapShare-336477420390335/">Facebook</a></li>
                <li><a href="https://www.instagram.com/zapshareapp/">Instagram</a></li>
            </ul>
        </div>
    </div>
    <div id="footer-p">Website designed by <a href="mailto:zapshareplatform@gmail.com">Team 28</a> for <a
            href="http://bcit.ca">BCIT</a> COMP 2930
        <br>
        © 2019 ZapShare, All Rights Reserved.</div>
</footer>