<div id="map-wrapper">
<div id='map'></div>

<script>
L.mapbox.accessToken = 'pk.eyJ1IjoiZXBhdTg4IiwiYSI6ImNqdjhyemQwNDAzM3U0MnJ5bW9ndHI4bXoifQ.JjTAqjq-WeON4_zK7naPEw';

const getPosition = () => {
    navigator.geolocation.getCurrentPosition( (position) => {
    const lat = position.coords.latitude
    const long = position.coords.longitude
    renderMap(lat, long)
    })
};

const renderMap = (lat, long) => {
    var map = L.mapbox.map('map')
    map.setView([lat, long], 15) 
    map.addLayer(L.mapbox.styleLayer('mapbox://styles/epau88/cjvco9wve04a41fny3uh0z02z'));
}

getPosition();
</script>
</div>

