<div id="side-menu" class="side-nav">
    <div id="side-menu-button-wrapper">
        <div class="side-menu-text">ZapShare
            <span id="side-menu-close-button" class="fas fa-times"></span>
        </div>
        <hr class="side-menu-hr">
        <a class="nav-link side-menu-button" href="./index">Home</a>
        <a class="nav-link side-menu-button" href="./map">Map</a>
        <a class="nav-link side-menu-button" href="./about">About</a>
        <a class="nav-link side-menu-button" href="./contact">Contact</a>
        <hr class="side-menu-hr">
    </div>
</div>