<div id="side-menu" class="side-nav">
    <div id="side-menu-button-wrapper">
        <div class="side-menu-text">ZapShare
            <span id="side-menu-close-button" class="fas fa-times"></span>
        </div>
        <hr class="side-menu-hr">
        <a class="nav-link side-menu-button" , href="./index.html">Home</a>
        <a class="nav-link side-menu-button" , href="./map.html">Map</a>
        <a class="nav-link side-menu-button" , href="./about.html">About</a>
        <a class="nav-link side-menu-button" , href="./contact.html">Contact</a>
        <hr class="side-menu-hr">
    </div>
</div>