<nav class="navbar navbar-custom navbar-expand-md navbar-light bg-light" id="header-nav">
    <div id="nav-top">
        <a class="nav-top-link" , href="./index">Home</a>
        <a class="nav-top-link" , href="./map">Map</a>
        <a class="nav-top-link" , href="./about">About</a>
        <a class="nav-top-link" , href="./contact">Contact</a>
    </div>
    <a id="navbar-brand" href="index.html">
        <img src="images/logo.png" id="logo-img" alt="zapShare" width="120">
    </a>
    <div id="bell-wrapper" class="nav-bar-icon">
        <a href="notification.html" class="fas fa-bell nav-item ml-auto" id="bell-icon"></a>
    </div>
    <div id="user-menu-button" class="dropdown nav-bar-icon">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <div id="user-wrapper">
                <a href="notification.html" class="fas fa-user" id="user-icon"></a>
            </div>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button" onclick="window.location.href = './user_profile';">User Details</button>
            <button class="dropdown-item" type="button" onclick="window.location.href = './user_setting';">Client Profile</button>
            <button class="dropdown-item" type="button" onclick="window.location.href = './host_setting';">Host Profile</button>
            <button class="dropdown-item" type="button" onclick="window.location.href = './wallet';">Your Wallet</button>
            <button class="dropdown-item" type="button" id="logout-button">Sign Out</button>
        </div>
    </div>
    <div id="login-button-wrapper" class="nav-bar-icon">
        <div id="login-button">Login</div>
    </div>
    <div id="open-side-menu-button" class="fas fa-bars nav-bar-icon"></span>
</nav>