/*general margin-setting to mobile first*/

#contentContainer{
	margin-top: 3vh;
}

.margin-setting{
	width:90%;
	margin:0 auto;
}


/*tab style*/
#bookings{
	color: #F05A29; 
	cursor: pointer;
}
#payment{
	color: black;
	cursor: pointer;
}
#reviews{
	color: black;
	cursor: pointer;
}

/*profile tab as nav element for Bootstrap*/
.profile-nav{
	width: 30%;
}
/*well class from bootstrap*/
.well{
	border-style: solid;
	border-color: #F3F3F3;
	margin: 30px;
	background-color: white;
}

/*content detail*/
.content{
	margin-top: 3vh;
	background-color: #F3F3F3;
}

/*jquery elements*/

.h1-font-size{
	font-size: 14pt;
	margin-top: 15px;
}

.profileHeader{
    margin-top:5vh;
    margin-left:5%;
}
.profileHeader h1{
    font-weight:bold;
}
#mainTabs{
    margin:0 auto;
    width:90%;
}
#mainTabs a{
    padding-right:5vh;
    text-decoration:none;
    font-weight:bold;
    font-size:1.0em;
}
#outerBox{
    background:#F3F3F3;
    margin:0 auto;
    margin-top: 5vh;
	padding-top:2vh;
    padding-bottom:5vh;
    width:90%;
	border-radius:10px;
}

.boxHeader{
    font-weight:bold;
    margin:0 3%;
}

#subContent{
	width:90%;
	margin:0 auto;
}