.charger-button{
    height: 256px;
    font-size: 1.15rem;
    margin: 0px auto;
    max-width: 328px;
}
.accept-icon{
    margin: 5px;
    color: #1DBF73;
    font-size: 30pt;
    cursor: pointer;
}
.accept-icon:hover{
    color: #149149;
}
.reject-icon{
    margin: 5px;
    color:  #FF0000;
    font-size: 30pt;
    cursor: pointer;
}
.reject-icon:hover{
    color:  #BD0000;
}