.charger-button{
    height: 256px;
    font-size: 1.15rem;
    margin: 0px auto 16px;
    max-width: 328px;
}
.accept-icon{
    margin: 5px;
    color: #1DBF73;
    font-size: 30pt;
    cursor: pointer;
}
.accept-icon:hover{
    color: #149149;
}
.reject-icon{
    margin: 5px;
    color:  #FF0000;
    font-size: 30pt;
    cursor: pointer;
}
.reject-icon:hover{
    color:  #BD0000;
}
.accept-decline-wrapper {
    position: absolute;
    bottom: 24px;
    right: 4px;
}
.pay-now-btn {
    float: right;
    width: 60% !important;
}
@media only screen and (max-width: 576px) {
    .charger-button {
        height: 202px;
    }
}

@media only screen and (max-width: 388px) {
    .accept-icon, .reject-icon{
        display: block;
    }
}