.marker {
    background-image: url('https://image.flaticon.com/icons/svg/1783/1783838.svg');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.currentmarker {
    background-image: url('https://image.flaticon.com/icons/svg/1673/1673221.svg');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup-close-button {
    display: none;
}

.mapboxgl-popup-content {
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px 2px;
    width: 220px;
    margin: auto;
    background-color: #FFFFFF;
    color: #464648;
    border-top: 6px solid #1DBF73;
    border-radius: 10px;
    text-align: center;
}

.host-marker-img {
    width: 35px;
    height: auto;
    margin-right: 5px;
    margin-left: 0;
}

.host-marker-title {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#map {
    height: 100%;
    width: 100%;
}

#map-drawer-expansion-button {
    display: unset;
    float: left;
}


#map-drawer {
    box-shadow: 0px 0px 4px 0px #356859;
    height: 216px;
    background-color: #FFFFFF;
    transition: height 0.5s ease;
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    max-height: calc(100vh - 84px);
}

#map-wrapper {
    width: 100%;
    height: calc(100vh - 84px);
    background-color: #FFFFFF;
}


.ui-button {
    font-size: 18pt;
    color: #356859;
    padding: 4px;
    margin: 4px;
    cursor: pointer;
}
#map-drawer-close-button {
    float: right;
}

#map-drawer-text-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    padding: 8px 10%;    
}
#map-drawer-text-row {
    display: block;
    width: 100%;
    margin: 4px 8px;
    
}
.map-drawer-text-left {
    float: left;
}
.map-drawer-text-right {
    float: right;
}
#request-booking-button {
    width: 80%;
    bottom: 24px;
    position: absolute;
    cursor: pointer;

}
#map-drawer-details-wrapper {
    display: none;
    height: 120px;
}

@media only screen and (min-width: 0px) {
    .map-side-expanded {
        width: initial;
        max-width: initial;
        height: 336px !important;
        max-height: calc(100vh - 84px) !important;
    }
}

@media only screen and (min-width: 768px) {
    .map-side-expanded {
        height: calc(100vh - 84px) !important;
    }

    #map-drawer {
        width: 368px;
        height: calc(100vh - 84px);
        transition: width 0.5s ease;
    }

    #map-drawer-expansion-button {
        display: none;
    }
    #map-drawer-details-wrapper {
        display: block;
    }
}
