
#popup-time-slots {
    overflow: auto;
    margin-bottom: 14px;
}

#popup-confirm, #popup-cancel, #popup-confirm-validate, #popup-back, #popup-finish {
    font-size: 14pt;
    width: 80%;
    margin-top: 8px;
}

.time-slot-button {
    background-color: #e9e9e9;
    font-size: 12pt;
    width: 80%;
    border-radius: 8px;
    border: 0px;
    padding: 8px 16px;
    margin-top: 8px;
    cursor: pointer;
}
.time-slot-button:hover {
    background-color: #CCCCCC;
}

.button-selected {
	background-image: linear-gradient(#189b5d, #1ec778);
    color: white;
}
.button-selected:hover {
    background-image: linear-gradient(#168a54, #1cb36c);
}

#popup-close-button {
    float: right;
}

#ui-datepicker-div {
    transform: translateX(calc(50vw - 50%));
    left: 0px !important;
}

#datepicker {
    font-size: 1.25rem;
    font-style: italic;
    color: grey;
}

#datepicker:hover {
    background-color: #e9e9e9;
}