#popup-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 19;
    background-color: rgb(0, 0, 0, 0.6);
    text-align: center;
}

#popup {
    transform: translateY(calc(50vh - 50%));
    display: none;
    z-index: 20;
    margin: 0 auto;
    width: 60vw;
    min-width: 378px;
    max-width: 524px;
    border-radius: 8px;
    color: #464648;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #000000;
    padding: 48px 6% 56px;
    overflow: auto;
    border-top: 12px solid #1DBF73;
    max-height: 100vh;
}


/** Map Page **/
.popup-header {
    font-size: 1.5rem;
}
.popup-subheader {
    font-size: 1.0rem;
}
.popup-content {

}
#popup-time-slots {
    height: 300px;
    overflow: auto;
}

#popup-confirm, #popup-cancel, #popup-confirm-validate, #popup-back, #popup-finish {
    font-size: 14pt;
    width: 80%;
    margin-top: 8px;
}

.time-slot-button {
    background-color: #999999;
    font-size: 12pt;
    width: 70%;
    border-radius: 2px;
    border: 0px;
    padding: 8px 16px;
    margin-top: 8px;
}

.button-selected {
    background-color: #F05A29;
}

#popup-close-button {
    float: right;
}

#ui-datepicker-div {
    transform: translateX(calc(50vw - 50%));
    left: 0px !important;
}
#datepicker {
    font-size: 1.25rem;
}


/** Login */
#login-popup-button {
    margin: 36px auto 18px;
    width: 100%;
    font-size: 10pt;
}

.popup-input-wrapper {
    width: 100%;
    margin: 8px auto;
}

.form-label {
    width: 100%;
    text-align: left;   
    padding: 0px 6px;
    margin: 8px 0px 0px;
    font-size: 10pt;
}

#popup-signup-here {
    cursor: pointer;
    color: #F05A29;
}

#popup-signup-text {
    margin: 8px auto;
}

#signup-popup-button {
    margin: 38px auto 4px;
    font-size: 10pt;
}

#signup-popup-back-button {
    margin: 8px auto 4px;
    font-size: 10pt;
}

@media only screen and (min-width: 768px) {
    .popup-header {
        font-size: 1.75rem;
    }
    .popup-subheader {
        font-size: 1.25rem;
    }
    .form-label {
        font-size: 12pt;
    }
    #login-popup-button {
        margin: 42px auto 24px;
        width: 100%;
        font-size: 12pt;
    }
    #signup-popup-button {
        margin: 48px auto 4px;
        font-size: 12pt;
    }
    
    #signup-popup-back-button {
        margin: 12px auto 4px;
        font-size: 12pt;
    }
}
