/** Restyled */
.outer-header {
	margin-bottom: 20px;
}
.form-input {
	background-color: inherit;
}
.form-label {
	width: unset;
}
.small-btn {
	width: 50%;
	margin: 36px auto 18px;
}
#save-btn {
	display: none;
}
.tab-section-content {
	margin-bottom: 36px;
	padding-top: 18px;
}
#wrapper {
	width: 60%;
}
.inner-header, #notif-settings-form {
	text-align: center;
}