/*general margin-setting to mobile first*/

#contentContainer{
	margin: 3vh 0;
}
.content{
	margin-top: 30px;
	background-color: #F3F3F3;
}
#profile-icon{
	width: 70px;
	height: 70px;
	margin:0 auto;
	display: block;
}
#img-btn{
	margin:0 auto;
	display: block;
	width: auto;
}

#user-img{
	display: block;
	width: 100%;
	padding: 2vh;
}
#profile-icon{
	border-radius:25px;
}
.margin-setting{
	width:90%;
	margin:0 auto;
	border-radius:10px;
}
.inner-margin-setting{
	margin: 0 auto;
}

.input-width{
	width: 100%;
}
#save-btn{
	width: 100px;
	margin: 0 auto;
	display: block;
}
@media only screen and (min-width: 500px) {
.margin-setting{
	margin-left: 15%;
	margin-right: 15%;
}
}

.hostHeader{
    margin-top:5vh;
    margin-left:5%;
}
.hostHeader h1{
    font-weight:bold;
}
#mainTabs{
    margin:0 auto;
    width:90%;
}
#mainTabs a{
    padding-right:2vh;
    text-decoration:none;
    color:black;
    font-weight:bold;
    font-size:1.0em;
}
#outerBox{
    background:#F3F3F3;
    margin:0 auto;
    margin-top: 5vh;
	padding-top:2vh;
    padding-bottom:5vh;
    width:90%;
	border-radius:10px;
}

.boxHeader{
    font-weight:bold;
    margin:0 3%;
}