main {
	background:white;
}

.wallet {
	max-width: 100%;
	width: 450px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 40px 0 rgba(0, 0, 0, 0.19);
	background-image: linear-gradient(#189b5d, #1ec778);
	margin: 0 auto;
	border-radius: 25px;
	color: #FFFFFF;
	padding-bottom: 20px;
	margin-top: 20px;
	margin-bottom: 16vh;
	transition-duration: 0.4s;
	cursor: pointer;
}

.wallet:hover {
	transform: translate(0%, -3%);
}

.cad {
	font-size: 20px;
	padding-right: 5px;
}

.walletheading {
	font-size: 22px;
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 5px;
	width: 100%;
}

.walletbalance {
	margin-top: 20px;
	font-size: 60px;
	color: #fff;
	text-align: center;
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.walletimage {
	text-align: center;
	width: 85%;
	padding-bottom: 5px;
	border-bottom: 1px solid #FFFFFF;
	margin: 0 auto;
}

.walletparagraph {
	font-size: 12px;
	text-align: center;
	width: 85%;
	margin: auto;
	padding-top: 20px;
	line-height: 1.5em;
	padding-bottom: 5px;
	margin-bottom: 0;
}

/** Recharge tab */
.balance-button {
	font-size: 22pt;
	display: block;
	background-image: linear-gradient(#CDCDCD, #EEEEEE);
	margin: 8px auto 8px;
	cursor: pointer;
	border-radius: 12px;
	border: 0px;
	padding: 8px 16px;
	width: 60%;
}

.balance-button:hover {
	background-image: linear-gradient(#9A9A9A, #CCCCCC);
	color: white;
}
.balance-button-selected {
	background-image: linear-gradient(#189b5d, #1ec778);
    color: white;
}
.balance-button-selected:hover {
    background-image: linear-gradient(#168a54, #1cb36c);
}
#recharge-button {
	margin-top: 24px;
	width: 60%;
	border-radius: 12px;
}
#recharge-balance {
	display: none;
}