main {
	background:white;
}

#walletOuterBox{
	background:#F3F3F3;
	padding-top:2vh;
	padding-bottom:5vh;
	margin:0 2vh;
	border-radius:10px;
}

.fundsBox {
    width: 80%;
		height:13vh;
    margin: 3vh auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 40px 0 rgba(0, 0, 0, 0.19);
    background-color: #FFF;
    transition-duration: 0.4s;
    border-radius: 10px;
    color: #4D4D4D;
		position:relative;
}

#walletHeader {
	padding:10px 5px;
	text-align:center;
}
#walletHeader *{
	font-weight:bold;
}

.addFunds{
	font-size:1.0em;
	clear:right;
	float:right;
	position:relative;
	transform:translate(-5vh, -50%);
	top:50%;
	background-color:#F05A29;
	color:white;
	border-radius:10px;
	height:10vh;
	font-weight:bold;
}

.boxTitle{
	display:inline;
	font-size:1.2em;
	position:absolute;
	transform:translate(3vh, -50%);
	top:50%;
	color:#32DC32;
	font-weight:bold;
}

@media only screen and (min-width:500px){
	.fundsBox{
		width:60%;
	}
}