<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/images/plugFavicon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img src="/images/edwin.jpg" class="portrait">
        </div>
        
        {{>footer}}
    </body>
</html>